@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

body{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  user-select: none;
  user-zoom: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}


#container{
  margin : 4vh 4vw;
  background-color: white;
  height: 60vh;
  width : 90vw;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
}
#start{
  font-size: 1.5rem;
  font-weight: bolder;
  word-break: break-all;
  width:50vw;
  justify-content: center;
  height:20vh;
  border : 2px solid lightgrey;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 15%;
  top:10%;
  color : lightgrey;
}
#start:hover{
  border: 3px solid lightseagreen;
  color : lightseagreen;
}


#question{
  width:40vw;
  top: 4vh;
  position: absolute;
  right: 0;
  word-wrap: break-word;
}
#question p{
  margin : 0;
  padding : 15px;
  font-size: 1.25rem;
}

#choices{
  top: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-row-gap: 10vw;
}
.choice{
  text-align: center;
  border : 0.1px solid grey;
  cursor: pointer;

}
.choice img{
  box-sizing: border-box;
}
.choice:hover{
  border : 1px solid grey;
  font-weight: bold;
}

#timer{
  position: absolute;
  height : 100px;
  width : 200px;
  bottom : 0px;
  text-align: center;
}
#counter{
  font-size: 3em;
}
#btimeGauge{
  width : 150px;
  height : 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left : 25px;
}
#timeGauge{
  height : 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top : -10px;
  margin-left : 25px;
}
#progress{
  width : 500px;
  position: absolute;
  bottom : 0px;
  right : 0px;
  padding:5px;
  text-align: right;
}
.prog{
  width : 25px;
  height : 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
}
#scoreContainer{
  margin : 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 30vh;
  width : 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;
}
#scoreContainer img{
  position: absolute;
  top:100px;
  left:325px;
}
#scoreContainer p{
  position: absolute;
  display: block;
  width : 59px;
  height :59px;
  top:130px;
  left:325px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
#choices{
  object-fit: fill;
}

#choices img{
  max-height: 100%;
  max-width: 100%;
}

#scoreContainer img{
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  top: 10vh;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  color: cyan;
}
nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}
nav ul .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}
nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li.btn span.show:before{
  content: '\f00d';
}
@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 40px 10px 0px;
  }
  nav ul li.logo{
    display: none;
  }
  nav ul div.items{
    flex: 4;
  }
}
@media screen and (max-width: 800px){
  nav ul li.btn{
    display: block;
  }
  nav{
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #222222;
    display: inline-block;
    transition: top .4s;
  }
  nav ul div.items.show{
    top: 60px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
}
@media screen and (max-width: 405px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 40px;
  z-index: -2;
}
.content .text{
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0;
  color: #202020;
}
.content .p{
  font-size: 28px;
  font-weight: 600;
  color: #202020;
}